.chatbot-container {
  bottom: 0;
  position: fixed;
  padding: 20px;
}

.chatbot-btn {
    padding: 10px;
    border: solid 1px #ef8236;
    border-radius: 10px;
    background-color: #ef8236;
    font-size: 15px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.chatbot-btn:hover{
    background-color: white;
    color: #ef8236;
}